<p style="color: green"><%= notice %></p>

<h1>Favourites</h1>

<div id="favourites">
  <%if @favourites.present? %>
    <% @favourites.each do |favourite| %>
      <%= render favourite %>
      <p>
        <%= link_to "Show this favourite", favourite %>
      </p>
      <p>
        <%if current_user.admin? %>
          <%= link_to 'Destroy', favourites_path(favourite), class: "fa fa-trash",
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
        <%end%>
        </p>
      </p>
    <% end %>
  <%else%>
    <p>No Favourtie Book</p>
  <%end%>
</div>
<%if current_user.admin? %>
  <%= link_to "New favourite", new_favourite_path %>
<%end%>
