<%= link_to ("<i class='fa fa-arrow-left' style='color:green'></i>" + "Back").html_safe, :back %>
<%= link_to ("<i class='fa fa-home' style='color:green'></i>" + "Home").html_safe, :root %>
<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, method: :delete %>
</div>
